name: Publish Quarto Project
on:
  workflow_dispatch:
  push:
    branches: main
jobs:
  build-deploy:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    env:
      TZ: 'Asia/Tokyo'
    steps:
      - name: Check out repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@9e48da27e184aa238fcb49f5db75469626d43adb # v2.1.9
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@9e48da27e184aa238fcb49f5db75469626d43adb # v2.1.9
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
